.dashboard {
  height: 100%;
}

.dashboard__header {
  display: flex;
}

.dashboard__header > .ant-menu {
  border-bottom: 0;
}

.dashboard__header .ant-menu > li {
  line-height: 64px;
}

.dashboard__primary_menu {
  flex: 1;
}

.dashboard__scroll_content {
  overflow-y: auto;
}

.dashboard__breadcrumb.ant-breadcrumb {
  margin: 16px 24px 0;
}

.dashboard__content {
  margin: 24px 24px 10px 24px;
  background-color: #fff;
  display: flex;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dashboard__content .ant-layout {
  background-color: #fff;
}

.dashboard__page {
  display: flex;
  flex: 1;
  padding: 24px;
}

.ant-spin-nested-loading {
  width: 100%;
}

.dashboard__footer.ant-layout-footer {
  padding: 0 10px 10px;
  text-align: center;
}
